<h1>Store Locations</h1>
<% include ./partials/messages %>

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">road</th>
          <th scope="col">county</th>
          <th scope="col">country</th>
          <th scope="col">Delete</th>      
        </tr>
      </thead>

      <tbody>        

        <% if(typeof storeList != 'undefined' ){ %>
          <% var storelength = storeList.length %>
        <% } else{ %>  
          <% var storelength = 0 %>
        <% } %>          
          
          <% for (var i = 0; i < storelength ; i++) { %>
              <tr>
                <th><%= typeof storeList != 'undefined' ? storeList[i]._id : '' %></th>              
                <th><%= typeof storeList != 'undefined' ? storeList[i].name: '' %></th>
                <th><%= typeof storeList != 'undefined' ? storeList[i].location.road : '' %></th>            
                <th><%= typeof storeList != 'undefined' ? storeList[i].location.county: '' %></th>
                <th><%= typeof storeList != 'undefined' ? storeList[i].location.country: '' %></th>
                <th>
                  <div style="float:left">
                    <a class="btn btn-raised btn-danger" href="/storelocation/edit/<%= storeList[i]._id %>">Edit</a></td>                           
                    <a class="btn btn-raised btn-danger" href="/storelocation/delete/<%= storeList[i]._id %>">Delete</a></td>
                  </div>
                </th>           
              </tr>    
          <% } %>
        
       
       

      </tbody>    
 </table>

 <script>
    
 
 </script>